body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [data-theme='light'] {
        --color-bg-primary: #ffffff;
        --color-bg-secondary: #f4f5f7;
        --color-bg-tertiary: #fafbfc;
        --color-bg-extra: rgb(20, 50, 255);
        --color-text-primary: black;
        --color-text-secondary: black;
        --color-text-tertiary: black;
        --color-text-hover: rgb(37 99 235);

        --color-text-inverted: white;
        --color-bg-chat: #dedee0;
    }
    [data-theme='dark'] {
        --color-bg-primary: #0d1117;
        --color-bg-secondary: #161b22;
        --color-bg-tertiary: #010409;
        --color-bg-extra: rgb(20, 50, 255);
        --color-text-primary: white;
        --color-text-secondary: white;
        --color-text-tertiary: white;
        --color-text-hover: rgb(37 99 235);

        --color-text-inverted: black;
        --color-bg-chat: #3d3d3d;
    }
}

// @import "../node_modules/@chatscope/chat-ui-kit-styles/themes/default/variables";
// @import "./components/chat/scss/variables.scss";
@import "./components/chat/scss/main";       
