body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [data-theme='light'] {
        --color-bg-primary: #e1e8ea;
        --color-bg-secondary: #a3c6c4;
        --color-bg-tertiary: rgb(240, 240, 245);
        --color-bg-extra: rgb(20, 50, 255);
        --color-text-primary: black;
        --color-text-secondary: #aaaaaa;
        --color-text-tertiary: white;
        --color-text-hover: rgb(37 99 235);
    }
    [data-theme='dark'] {
        --color-bg-primary: #354649;
        --color-bg-secondary: #6c7a89;
        --color-bg-tertiary: #3c3f5d;
        --color-bg-extra: rgb(20, 50, 255);
        --color-text-primary: white;
        --color-text-secondary: #e0e7e9;
        --color-text-tertiary: black;
        --color-text-hover: rgb(37 99 235);
    }
}
